@media (min-width:440px){
    body{
        width: 100%; 
    }
    header{
        width: 660px;
        margin: 0 auto;
    }
    .contenedor {
        width: 660px;
        padding: 0px 20px;
    }
    .contenedor .boton2{
        width: 400px;
        display: block;
        margin: 0 auto;
    }
}