 @media (min-width:440px){
    .contenedor-pago {
        max-width: 700px;
    }
    .tarjeta-pago {
        padding: 32px;
    }
    .opcion {
        padding: 16px;
    }
    .opcion img {
        width: 48px;
    }
    .opcion p {
        font-size: 18px;
    }
    .tarjeta-pago h2 {
        font-size: 24px;
    }
    .btn-pagar {
        font-size: 18px;
        padding: 18px;
    }
}