@media (min-width:440px){
    header{
    height: 140px;
    }
    .imagen1{
        width: 39px;
        height: auto;
    }
    .imagen2{
        width: 180px;
        height: auto;
    }
    .imagen3{
        width: 39px;
        height: auto;
    }
    .cuadro{
        width: 600px;
    }
    .logo{
        display: none;
    }
    .desktop{
        display: none;
    }
    .titulo{
        height: 28px; 
        font-size: 30px;
    }
    .name{
        font-size: 22px;
    }
    .parrafo1{
        font-size: 18px;
    }
    .email{
        font-size: 22px;
    }
    .parrafo2{
        font-size: 18px;
    }
    .password{
        font-size: 22px;
    }
    .parrafo3{
        font-size: 18px;
        margin-bottom: 250px;
    }
    .boton{
        width: 143.5px;
        font-size: 22px;
    }
}   